.contact-container {
  background-color: transparent;
  margin-top: 50px;
  gap: 10px;
  padding: 4rem 2rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.divider {
  width: 50%;
  height: 2px;
  background-color: purple;
  border: none;
  margin-top: 10px;
}

.contact-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.divider {
  flex-grow: 1;
  height: 2px;
  width: 100%;
  background-color: white;
  border: none;
  margin: 0 10px;
}

.title {
  font-size: 3.2rem;
  line-height: 1;
  color: white;
  font-weight: 550;
  margin: 0;
  text-align: center;
}

.subtitle {
  font-size: 2.5rem;
  background: linear-gradient(to right, #7360a3, #fcb0d3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.contact-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1215px;
}

.contact-card {
  background-color: #1d252d;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 215px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.card-header h3 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-button {
  width: 100%;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 2rem;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background: linear-gradient(to bottom, #b194dc, #f7c0d9);
  color: #1d252d;
}

@media (max-width: 768px) {
  .contact-container {
      padding: 2rem 1rem;
  }

  .title {
      font-size: 3rem;
  }
  
  .subtitle {
      font-size: 2rem;
  }
  
  .contact-cards {
      grid-template-columns: 1fr;
  }
  
  .contact-card {
      min-height: 195px;
  }
}
