
 
  .navbar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1); 
    height: 4.5rem;
    margin-top: 15px;
    margin-left: 75px;
    color: gray;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(7px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    font-weight: 600;
    font-size: larger;
    position: sticky;
    top: 10px;
    z-index: 1000
}

  .navbar-logo-section img {
    width: auto;
    height: 40px;
  }
  .navbar-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }
  
  .navbar-logo-section {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }
  
  .navbar-logo-section a {
    font-weight: 500;
    margin-left: 30px;
    font-size: 1rem;
    padding: 8px 8px;
    color: rgba(245, 245, 245, 0.789);
    text-decoration: none;
  }
  
  .navbar-links li {
    list-style: none;
  }
  .navbar-links a {
    text-decoration: none;
    padding: 12px 12px;
    font-size: 0.9rem;
    transition: all 0.5s ease-in;
    font-size: 500;
    color:rgba(255, 255, 255, 0.778) ;
    font-size: large;
    transform: scale(1.2);
  }
  .navbar-links a:hover {
    color: rgb(82, 81, 81);
    transition: transform 0.2s ease-in-out;
  }
  
  .navbar-links {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-left: 200px;
    
    
  }

  .navbar-auths {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 12px 12px;
    margin-left: 150px;
  }

/* custom cursor effect */
.cursor {
  width: 16px;
  height: 16px;
  background: linear-gradient(45deg, rgb(235, 95, 220), rgb(179, 60, 255), rgb(110, 10, 250));
  background-size: 300% 300%;
  animation: vibrantGradient 6s ease infinite;
  border: 2px solid rgb(238, 52, 238);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.03s ease-out;
  mix-blend-mode: difference;
  will-change: transform;
  z-index: -1;
}

@keyframes vibrantGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}