body {
    background-color: #00040f;
    width: 100%;
    height: auto;
    font-family: "Poppins", sans-serif;
  }
  .testanomial-icon{
    border: 1px solid gray;
  }
  .navbar {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2); 
    height: 50px;
    margin-top: 15px;
    margin-left: 75px;
    color: gray;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(7px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

  .navbar-logo-section img {
    width: auto;
    height: 40px;
  }
  .navbar-box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }
  
  .navbar-logo-section {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
  }
  
  .navbar-logo-section a {
    font-weight: 500;
    margin-left: 30px;
    font-size: 1rem;
    padding: 8px 8px;
    color: rgba(245, 245, 245, 0.789);
    text-decoration: none;
  }
  
  .navbar-links li {
    list-style: none;
  }
  .navbar-links a {
    text-decoration: none;
    padding: 12px 12px;
    font-size: 0.9rem;
    transition: all 0.5s ease-in;
    font-size: 500;
    color:rgba(255, 255, 255, 0.778) ;
  }
  .navbar-links a:hover {
    color: gray;
  }
  
  .navbar-links {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-left: 250px;
  }
  .navbar-auths {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 12px 12px;
    margin-left: 150px;
  }